div.dataTables_wrapper div.dataTables_filter {
    display: none;
}

table.dataTable{
	border: 0;
	padding-top: 10px;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #fff;
}


.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 0;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	border: 0;
	    padding: 1px;
}

table.dataTable.no-footer {
   border:0;
}

.panel-body{
	min-height: 210px;
}

.container{
margin-top: 200px;

}

div.dataTables_wrapper div.dataTables_paginate
{
	position: absolute;
    bottom: 15px;
    right: 15px;
}

.dataTables_wrapper{
	position: static;
}

.panel-body{
	position: relative;
}

form .error {
  color: #ff0000;
}
